
//- SECTION ONE
//- ============================================================

div.outer.bg-oval-white.themes
  div.bg-oval.bg-oval-top
    img(src="img/bg-oval-white-top.svg")
  div.inner
    div.content.center
      h3= "Word themes"
    div.content.theme-feature.center
      img(src= "img/nan-basic.svg")
      div.content.center
        p.tile.tile-large= "Basic"
        p.tile-words= "this is a cool sample of the basic theme this is a cool sample of the basic theme this is a"

//- SECTION TWO
//- ============================================================

div.outer.bg-purple
  div.inner
    div.content.center
      h3= "Multi-player"
    div.content.center.margin-top
      p.tile-words= "Fridge magnets gone bananas"
  div.inner
    img(src="img/screenshots-temp.png")


//- SECTION THREE
//- ============================================================

div.outer.bg-oval-white
  div.inner
    div.content.center
      h3= "Play, vote, win!"
    div.content.center.margin-top
      p.tile-words= "You've gotta be clever and fast!"
  div.inner
    img(src="img/screenshots-temp.png")
  div.bg-oval.bg-oval-bottom
    img(src="img/bg-oval-white-bottom.svg")

