
//- SECTION ONE
//- ============================================================

div.outer.overview.bg-oval-white
  div.bg-oval.bg-oval-top
    img(src="img/bg-oval-white-top.svg")
  div.inner

    div.content.center
      h2= "A battle of wits"
    div.content.center.margin-top
      h5.margin-big-bottom= "Be clever, Become popular, Win it all!"

    div.content.content-gameplay
      div.content-bucket-img
        img(src="img/play@3x.png")
      h5.margin-top= "Don't let the chips fall"
      p.margin-top= "Each second counts as you craft the most interesting, suggestive or funniest phrase. Score chips for speed and for using bonus words, but the quality of your phrase is what will earn you votes from friends or random strangers."
    div.content.content-gameplay-2
      div.content-bucket-img
        img(src="img/vote@3x.png")
      h5.margin-top= "Serious word play"
      p.margin-top= "All seven of you vote for your favorite anonymous phrase. When all the votes are in, scores are multiplied, and the curtain falls to reveal the winner. Didn't think your mom was that clever, huh? Win three rounds, get the trophy and become the champ!"

div.outer.themes.bg-purple-3
  div.inner

    div.content.content-theme
      h5= "Flip the script"
      p.content.margin-top= "Choose from a variety of themes to play with different words. Music, sports, current events, and more. Keep an eye out for updates as new themes ship regularly."
    div.content.theme-feature
      div.theme-feature-nan
        img(src= "img/nan-basic.svg")
      div.content.theme-feature-tiles
        p.tile.tile-large= "Basic"
        p.tile-words.margin-top= "quisque eget odio ac lectus vestibulum faucibus eget in metus pellentesque faucibus vestibulum eget odio"
      div.content.theme-feature-bg.theme-feature-bg-jungle

//- hr

div.outer.theme-new
  div.inner

    div.content.content.center
      h3= "Coming soon!"
      p.content.content-theme-new.margin-top= "No doubt Hil-liar-y and Drumpf have given us so much ammo the phrases practically write themselves. Cross the aisle, cross the line, and put your vote where it really counts."

    div.content.theme-feature-new.margin-big-top
      div.theme-feature-new-nan-left
        img(src= "img/nan-hillary.svg")
      div.theme-feature-new-nan-right
        img(src= "img/nan-trump-flipped.svg")

      div.content.theme-feature-new-tiles.center
        p.tile.tile-large
          | Election&nbsp;2016
        p.tile-words.margin-top= "quisque eget odio ac lectus vestibulum faucibus eget in metus pellentesque faucibus vestibulum"
      div.content.theme-feature-new-bg.theme-feature-bg-election

    //- div.content.center
    //-   h2= "Master the art of creating good phrases, fast!"

  div.bg-oval.bg-oval-bottom
    img(src="img/bg-oval-white-bottom.svg")

